body{
    font-family: Montserrat-Light !important;
}
.carousel-item{
    width: 582px;
}
.carousel-item img, #boost img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.navbar{
    background:  linear-gradient(90deg, #0800FF, #00FFF0);
}
.nav-link{
    color: white !important;
}
.btn-round{
    border-radius: 40% ;
}
#hero{
    height: 732px;
    background: url(./imgs/fydi_section1_banner.png) no-repeat 100%;
    background-size: 100% 100%;
}
#hero p, #hero h1{
    color: white;
}
.fydi_highlight{
    margin-top: 2rem; 
    margin-bottom: 2rem; 
}  
#introduction{
    margin-top: 10rem;
    background: url(./imgs/fydi_section3_banner.png) no-repeat 100%;
    background-size: 100% 100%;
}
#boost{
    background: url(./imgs/fydi_section2_banner.png) no-repeat 100%;
    background-size: 100% 100%;
}
#about{
    /* background: url(./imgs/aboutus-banner.png) no-repeat 100%; */
    /* background-size: 100% 100%; */
}
#team{
    background: url(./imgs/banners/company_profile_banner.png) no-repeat 100%;
    background-size: 100% 100%;
}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.square-img{
    width: 250px;
    height: 250px;
}
footer{
    color: white;
}
.footer-title{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}
.footer-ul{
    list-style-type: none;
}
.footer-li, .footer-li a{
    text-decoration: none;
    color: white;
}
.footer-li a:hover{
    color: white;
}
.inline-ul .footer-li{
    display: inline;  
}
.inline-ul i{
    font-size: 28px;
    margin-right: 12px;
}
#services .card{
    padding-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    min-height: 200px;
}
.left-icon{
    width: 20%; 
    height: 100%; 
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-text{
    width: 80%;
    height: 100%; 
    float: right;
    justify-content: center;
    align-items: center;
}
/* text color  */
.white-text{
    color: white;
}
#introduction h5{
    color: #0800FF;
}
#team .card-title{
    color: #0800FF;
    text-align: center;
}
.blue-title{
    color: #0800FF;
}
/* line height  */
#introduction p{
    line-height: 1.25;
}
.ht-350px{
    height: 350px;
}
/* Margin */
.mt-15{
    margin-top: 15%;
}
.mt-10{
    margin-top: 10%;
}
.mt-20{
    margin-top: 20%;
}
.mt-5{
    margin-top: 5%;
}
.mb-3rem{
    margin-bottom: 3rem;
}
.mb-5rem{
    margin-bottom: 5rem;
}
.mr-1{
    margin-right: 1rem;
}
/* image  */
.services_icon{
    object-fit: fill;
    width: 60px !important;
}
/* icon  */
.contact-icon{
    font-size: 32px;
    color: blue;
}
/* subtitle */
.contact-subtitle{
    color: #0800FF;
    font-weight: 300;
}