@media screen and (min-width:1300px) {
    .navbar{
        /* padding-left: 10rem !important;
        padding-right: 10rem !important; */
    }
    .navbar-nav li a{
        margin-right: 30px;
        width: 100%;
    }
    .navbar-brand{
        margin-left: 20px;
    }
    .header-right{
        margin-right: 20px;
    }
}
@media screen and (min-width:1100px) {
    .nav-ul-ml li a{
        margin-right: 20px;
    }
}
@media screen and (min-width:992px) {
    .nav-ul-ml{
        margin: auto;
    }
    
}
@media screen and (min-width:768px) {   
    #introduction{
        height: 1820px;
    }
    #boost{
        height: 500px;
    }
    #about{
        height: 527px;
    }
    #team .card{
        min-height: 840px;
    }
    .ht-350px{
        height: 350px;
    }
    /* // hide bg img when size < md  */
    .bpo{
        /* background-image: url(./imgs/services/service1bg.png); */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    .mb-80px{
        margin-bottom: 80px;
    }
    .mb-50px{
        margin-bottom: 80px;
    }
}
 /* md or smaller screen  */
@media screen and (max-width:991.99px) {
    .header-right{
        position: absolute;
        right: 100px;
    }
}

@media (max-width:768.99px) {
    .mobile-css{
        text-align: center;
    }
    .square-img{
        text-align: center;
    }
    .col-sm-0{
        width: 0;
        height: 0;
    }
    .mobile-mb-2{
        margin-bottom: 2rem;
    }
    .mobile-center{
        text-align: center;
    }
    .hide-in-sm{
        display: none;
    }
    .client-wrap{
        margin: 5px;
    }
    .client-img-thumb{
        width: 60px;
        height: 60px;
        object-fit: fill;
    }
}
@media (max-width:575.99px) {
    .location i{
        display: none;
    }
    .footer-li p{
        margin-left: 0px !important;
    }
}
/* xsm screen */
@media screen and (min-width: 390px) and (max-width: 575.9px) {
    .half-xsm{
        width: 50% !important;
    }
}
@media screen and (max-height: 599px){
    #hero {
        margin-bottom: auto !important;
    }
    #hero .img-center{
        display: none;
    }
}